<!DOCTYPE html>
<html>
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>King Song</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color: #1abc9c; /* Green */
      color: #ffffff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
  </style>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>  
        <span class="icon-bar"></span>                       
      </button>
      <a class="navbar-brand">บทเพลงพระราชนิพนธ์</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="home">home</a></li>
        <li><a href="kingsong1">kingsong1</a></li>
        <li><a href="kingsong2">kingsong2</a></li>
        <li><a href="kingsong3">kingsong3</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h1 class="margin">เพลงOh I Say</h1>
    <center>
Oh let me say, just to say, What I'll say.
<br>Or do you say, just to say, What you'll say. 
<br>Oh let us say, Just to say, What we'll say.
<br>Now what'll we say? Just something to be gay, 
<br>To chase the trouble and the cares of the day away. 
<br>Let us all sing the song, we want to be happy today.
<br> comes only once in a lifetime. 
<br>We do not know whence we come, where we go. 
<br>So here goes.
<br>Now let me say, just to say, What I'll say. 
<br>And do you say, just to say, What you'll say
<br>Let us all sing the song, we want to be happy today.
</center>
  <h2><a href="https://youtu.be/A8g0R-iswJQ?list=RDA8g0R-iswJQ">เพลงOh I Say</a></h2>
</div
</body>
</html>
