<html>
<head>
	<title>King Song</title>
</head>
<div align="right">
<a href="home">home</a>
<a href="kingsong1">kingsong1</a>
<a href="kingsong2">kingsong2</a>
<a href="kingsong3">kingsong3</a>
</div>
<center>
	<h1>เพลง ใกล้รุ่ง</h1>
<br>ได้ยินเสียงแว่วดังแผ่วมาแต่ ไกล ไกล
<br>ชุ่มชื่นฤทัย หวานใดจะปาน
<br>ฟังเสียงบรรเลง ขับเพลงประสาน
<br>จากทิพย์วิมาน ประทานกล่อมใจ
<br>* ใกล้ยามเมื่อแสง ทอง ส่อง
<br>ฉันคอยมองจ้อง ฟ้าเรืองรำไร
<br>ลมโบกโบยมา หนาว ใจ
<br>รอช้าเพียงไร ตะวันจะมา
<br>** เพลิดเพลินฤทัย ฟังไก่ประสานเสียงกัน
<br>ดอกมะลิวัลย์ อวลกลิ่นระคนมณฑา
<br>โอ้ในยามนี้ เพลิน หนักหนา
<br>แสงทองนวลผ่องนภา แสนเพลินอุราสำราญ
<br>*** หมู่มวลวิหคบินผกมาแต่ รัง นอน
<br>เฝ้าเชยชิดช้อน ลิ้มชมบัวบาน
<br>ยินเสียงบรรเลง ดังเพลงขับขาน
<br>สอดคล้องกังวาน ซาบซ่านจับใจ<br><br>
</center>	
<center><a href="https://youtu.be/VLBJQgWkgog">เพลงใกล้รุ่ง</a></center>
</html>