<html>
<head>
	<title>King Song</title>
</head>
<div align="right">
<a href="home">home</a>
<a href="kingsong1">kingsong1</a>
<a href="kingsong2">kingsong2</a>
<a href="kingsong3">kingsong3</a>
</div>
<center>
	<h1>เพลง ยามเย็น</h1>
แดด รอน ๆ
<br>เมื่อทินกรจะลับเหลี่ยมเม-ฆา
<br>ทอแสงเรืองอร่าม ช่าง งาม ตา
<br>ในนภาสลับ จับ อัม พร
<br>..แดด รอน ๆ
<br>เมื่อทินกรจะลาโลกไป ไกล
<br>ยามนี้จำต้องพราก จาก ดวง ใจ
<br>ไกลแสนไกลสุดห่วง ยอด ดวง ตา
<br>..แต่ก่อนเคยคลอเคลียกัน
<br>ทุกวันคืนรี่นอุรา
<br>ต้องอยู่เดียวเปลี่ยววิญญา
<br>เหมือนดัง นภา ไร้ ทินกร
<br>แดด รอน ๆ
<br>หากทินกรจะลาโลกไป ไกล
<br>ความรักเราคง อยู่ คู่ กัน ไป
<br>ในหัวใจคงอยู่ คู่ เชย ชม
<br>..แดด รอน ๆ
<br>หมู่มวลภมรบินลอยล่องตาม ลม
<br>คลอเคล้าพฤกษาชาติ ชื่น เชย ชม
<br>ชมสมตามอารมณ์ ล่อง เลย ไป
<br>ลิ่ว ลม โชย
<br>กลิ่นพันธุ์ไม้โปรยโรยร่วงห่วงอา ลัย
<br>ยามสายัณห์พลันพราก จาก ดวง ใจ
<br>คอยแสงทองวันใหม่ กลับ คืน มา
<br>แต่ก่อนเคยคลอเคลียกัน
<br>ทุกวันคืนชื่นอุรา
<br>ต้องอยู่เดียวเปลี่ยววิญญา
<br>เหมือนดังนภาไร้ทินกร
<br>..โอ้ ยาม เย็น
<br>จวบยามนี้เป็นเวลา สุด อา วรณ์
<br>ยามไร้ความสว่างห่างทินกร
<br>ยามรักจำจะ จร จาก กัน ไป..<br><br>
</center>	
<center><a href="https://youtu.be/dl6YYwNsaxE">เพลงยามเย็น</a></center>
</html>