<html>
<head>
	<title>King Song</title>
</head>
<div align="right">
<a href="home">home</a>
<a href="kingsong1">kingsong1</a>
<a href="kingsong2">kingsong2</a>
<a href="kingsong3">kingsong3</a>
</div>
<center>
	<h1>เพลง Oh I Say</h1>
Oh let me say, just to say, What I'll say.
<br>Or do you say, just to say, What you'll say. 
<br>Oh let us say, Just to say, What we'll say.
<br>Now what'll we say? Just something to be gay, 
<br>To chase the trouble and the cares of the day away. 
<br>Let us all sing the song, we want to be happy today.
<br> comes only once in a lifetime. 
<br>We do not know whence we come, where we go. 
<br>So here goes.
<br>Now let me say, just to say, What I'll say. 
<br>And do you say, just to say, What you'll say
<br>Let us all sing the song, we want to be happy today.<br><br>
</center>	
<center><a href="https://youtu.be/A8g0R-iswJQ?list=RDA8g0R-iswJQ">เพลงOh I Say</a></center>
</html>